body {
    background: #2c3e50;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
    flex-direction: column;
}

.calculadora {
    background-color: #3b3b3b;
    width: 320px;
    padding: 25px;
    border-radius: 20px;
    border: 6px solid #000; /* Borda preta grossa do desenho */
    box-shadow: 10px 10px 0px #111;
    transition: all 0.3s ease;
}

.status-topo {
    color: white;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    font-weight: bold;
}

.visor {
    background-color: #9ead86;
    border: 4px solid #000;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    height: 90px;
    text-align: right;
    transition: all 0.3s;
}

#pergunta { margin: 0; font-size: 1.1rem; text-align: left; color: #1e272e; }
#display { font-size: 2.2rem; font-weight: bold; color: #1e272e; margin-top: 5px; height: 40px; }

.grade {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

button {
    padding: 15px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    border: 3px solid #000;
    background-color: #fff;
    border-radius: 8px;
    transition: 0.1s;
}

button:active { transform: scale(0.9); }

.btn-ok { background-color: #55efc4 !important; }
.btn-c { background-color: #ff7675 !important; }

.loja {
    margin-top: 20px;
    background: white;
    padding: 15px;
    border-radius: 10px;
    width: 320px;
    border: 3px solid #000;
}

.item-loja {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
    font-size: 13px;
}

.btn-buy {
    padding: 4px 8px;
    background: #0984e3;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}